<!DOCTYPE HTML>
<html>
<head>
  <title>enmasse.io | a toolbox to create large-scale multi-agent systems</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <meta name="keywords" content="enmasse, agent, multi-agent, large-scale, simulation">
  <meta name="description" content="A toolbox to create large-scale multi-agent systems">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
<div id="page">
  <script type="text/javascript">
    // change layout for different screen sizes
    window.onresize = function onresize () {
      var width = document.body.clientWidth;

      var page = document.getElementById('page');
      page.className = (width < 810) ? 'small' : 'normal';
    };
    window.onresize();
  </script>

  <div class="title">
    <a href="http://enmasse.io">
      <div class="logo">
        <img src="img/logo/enmasse_64x64.png">
      </div>
      <div class="main">
        Enmasse
        <div class="sub">
          A toolbox to create large-scale multi-agent systems
        </div>
      </div>
    </a>
  </div>

  {{content}}

</div>

<div id="footer">
  <a href="http://enmasse.io">enmasse.io</a> &bull;
  <a href="http://almende.com">developed by Almende</a> &bull;
  <a href="http://subtlepatterns.com/escheresque-dark/">background by Ste Patten</a>
</div>

</body>
</html>